/* Use inspect element to find the class name of the element you want to style */

.markdown-body {
    font-size: 16px;
}

.MuiDialogTitle-root {
    display: none;
}

a[href*='https://github.com/Chainlit/chainlit'] {
    visibility: hidden;
}

/* Hide the outer element containing the copy icon */
.MuiStack-root.css-gnlfwc {
    display: none;
}